@import 'tailwindcss';
@import 'tw-animate-css';

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.5465 0.2455 262.8657);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --online: theme('colors.emerald.500');
    --offline: theme('colors.red.500');
    --maintenance: theme('colors.blue.500');
    --degraded: theme('colors.amber.500');
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.5465 0.2455 262.8657);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.5465 0.2455 262.8657);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.5465 0.2455 262.8657);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.5465 0.2455 262.8657);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.5465 0.2455 262.8657);
    --base-1: hsl(0 0% 98.82352941176471%);
    --base-2: hsl(0 0% 97.6470588235294%);
    --base-3: hsl(0 0% 94.11764705882352%);
    --base-4: hsl(0 0% 90.98039215686275%);
    --base-5: hsl(0 0% 87.84313725490196%);
    --base-6: hsl(0 0% 85.09803921568627%);
    --base-7: hsl(0 0% 80.7843137254902%);
    --base-8: hsl(0 0% 73.33333333333333%);
    --base-9: hsl(0 0% 55.294117647058826%);
    --base-10: hsl(0 0% 51.37254901960784%);
    --base-11: hsl(0 0% 39.21568627450981%);
    --base-12: hsl(0 0% 12.549019607843137%);
    --accent-1: hsl(209.99999999999977 100% 99.2156862745098%);
    --accent-2: hsl(207.27272727272737 100% 97.84313725490196%);
    --accent-3: hsl(205 92.30769230769234% 94.90196078431372%);
    --accent-4: hsl(202.85714285714286 100% 91.76470588235294%);
    --accent-5: hsl(205.5737704918033 100% 88.0392156862745%);
    --accent-6: hsl(207 93.02325581395351% 83.13725490196079%);
    --accent-7: hsl(206.53846153846155 85.2459016393443% 76.07843137254902%);
    --accent-8: hsl(205.6551724137931 81.92090395480226% 65.29411764705883%);
    --accent-9: hsl(206.11764705882354 100% 50%);
    --accent-10: hsl(206.5531914893617 95.91836734693877% 48.03921568627451%);
    --accent-11: hsl(207.97927461139895 88.12785388127853% 42.94117647058824%);
    --accent-12: hsl(216.14457831325302 70.94017094017094% 22.941176470588236%);
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.269 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.5465 0.2455 262.8657);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --online: theme('colors.emerald.500');
    --offline: theme('colors.red.500');
    --maintenance: theme('colors.blue.500');
    --degraded: theme('colors.amber.500');
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.5465 0.2455 262.8657);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.275 0 0);
    --input: oklch(0.325 0 0);
    --ring: oklch(0.5465 0.2455 262.8657);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.5465 0.2455 262.8657);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.5465 0.2455 262.8657);
    --sidebar-border: oklch(0.275 0 0);
    --sidebar-ring: oklch(0.5465 0.2455 262.8657);
    --base-1: hsl(0 0% 6.666666666666667%);
    --base-2: hsl(0 0% 9.803921568627452%);
    --base-3: hsl(0 0% 13.333333333333334%);
    --base-4: hsl(0 0% 16.470588235294116%);
    --base-5: hsl(0 0% 19.215686274509807%);
    --base-6: hsl(0 0% 22.745098039215687%);
    --base-7: hsl(0 0% 28.235294117647058%);
    --base-8: hsl(0 0% 37.64705882352941%);
    --base-9: hsl(0 0% 43.13725490196079%);
    --base-10: hsl(0 0% 48.23529411764706%);
    --base-11: hsl(0 0% 70.58823529411765%);
    --base-12: hsl(0 0% 93.33333333333333%);
    --accent-1: hsl(214.73684210526315 42.22222222222223% 8.823529411764705%);
    --accent-2: hsl(218.1818181818182 39.28571428571429% 10.980392156862745%);
    --accent-3: hsl(212.06896551724137 69.04761904761905% 16.470588235294116%);
    --accent-4: hsl(208.77551020408166 100% 19.215686274509807%);
    --accent-5: hsl(206.8965517241379 100% 22.745098039215687%);
    --accent-6: hsl(209.2436974789916 78.80794701986756% 29.607843137254903%);
    --accent-7: hsl(210.95238095238096 66.31578947368422% 37.254901960784316%);
    --accent-8: hsl(211.00671140939596 65.06550218340611% 44.90196078431373%);
    --accent-9: hsl(206.11764705882354 100% 50%);
    --accent-10: hsl(209.6938775510204 100% 61.568627450980394%);
    --accent-11: hsl(209.79020979020981 100% 71.96078431372548%);
    --accent-12: hsl(204.59016393442622 100% 88.0392156862745%);
    --radius: 0.625rem;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-online: var(--online);
    --color-offline: var(--offline);
    --color-maintenance: var(--maintenance);
    --color-degraded: var(--degraded);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --radius: 0.625rem;
    --color-accent-12: var(--accent-12);
    --color-accent-11: var(--accent-11);
    --color-accent-10: var(--accent-10);
    --color-accent-9: var(--accent-9);
    --color-accent-8: var(--accent-8);
    --color-accent-7: var(--accent-7);
    --color-accent-6: var(--accent-6);
    --color-accent-5: var(--accent-5);
    --color-accent-4: var(--accent-4);
    --color-accent-3: var(--accent-3);
    --color-accent-2: var(--accent-2);
    --color-accent-1: var(--accent-1);
    --color-base-12: var(--base-12);
    --color-base-11: var(--base-11);
    --color-base-10: var(--base-10);
    --color-base-9: var(--base-9);
    --color-base-8: var(--base-8);
    --color-base-7: var(--base-7);
    --color-base-6: var(--base-6);
    --color-base-5: var(--base-5);
    --color-base-4: var(--base-4);
    --color-base-3: var(--base-3);
    --color-base-2: var(--base-2);
    --color-base-1: var(--base-1);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@theme {
    --animate-collapsible-down: collapsible-down 0.1s ease-out;
    --animate-collapsible-up: collapsible-up 0.1s ease-out;

    @keyframes collapsible-down {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: var(--radix-collapsible-content-height);
        }
    }

    @keyframes collapsible-up {
        from {
            height: var(--radix-collapsible-content-height);
            opacity: 1;
        }
        to {
            height: 0;
            opacity: 0;
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-sidebar text-foreground font-medium;
        letter-spacing: var(--tracking-normal);
    }
}
